{% extends "account/signup_closed.html" %}
{% block content %}
    {{ block.super }}
    <div class="container pt-1 mx-auto">
        <div class="w-11/12 p-10 mx-auto mt-5 rounded-lg shadow-md md:mt-5 lg:mt-10 sm:p-5 md:w-6/12 lg:w-5/12 xl:w-4/12 md:p-10 xl:p-13 bg-primary text-primary-content">
            <div class="text-2xl">Contact <a style="text-decoration: underline;" href="https://bio.link/abdullahmallik">admin</a> for an account</div>
            <div class="">Note: Admin is most active on <a style="text-decoration: underline;" href="https://discord.com/users/116221073263034375">Discord</a></div>
        </div>
    </div>
{% endblock content %}
