{% extends "basic/base.html" %}


{% block content_root %}
    <div class="hero bg-neutral text-neutral-content min-h-100">
        <div class="hero-content text-center my-4">
            <div class="max-w-2xl">
                <h1 class="text-5xl font-bold">About</h1>
                <br>
                <p class="text-lg">
                    We at OnePrep understand the challenges of SAT prep. We've all been there, juggling practice with limited resources and wishing for a more streamlined approach.
                    <br>
                    OnePrep was born from this very experience. Our founder, frustrated with scattered practice materials, envisioned a platform that brought everything together. We started with a simple question bank, but the dream was bigger. Now, OnePrep is here to be your one-stop shop for SAT prep.
                    <br>
                    We curate high-quality practice tests and questions from various sources, offering a comprehensive and convenient practice experience. We believe in making your prep efficient and effective, so you can focus on achieving your best score.
                    <br>
                    Let OnePrep be your partner on the road to SAT success!</p>
            </div>
        </div>
    </div>

    <div class="container mx-auto mt-10">
        <div class="flex justify-center space-x-6">
            <div class="space-y-2 flex flex-col justify-center">
                <img src="https://github.com/mdn522.png" alt="Abdullah's GitHub Profile Image" class="rounded-full outline w-64">
                <h2 class="text-3xl font-bold text-center text-transparent bg-clip-text bg-gradient-to-r from-primary via-secondary to-accent inline-block">MD Abdullah</h2>
                <p class="text-lg text-center text-gray-500 text-center">Programmer</p>
                <div class="flex space-x-1 mt-1 justify-center">
                    <a href="https://linkedin.com/in/abdullah-mallik">
                        <img src="https://raw.githubusercontent.com/gauravghongde/social-icons/master/SVG/Color/LinkedIN.svg" class="w-8 h-8">
                    </a>
                    <a href="https://github.com/mdn522">
                        <img src="https://raw.githubusercontent.com/gauravghongde/social-icons/master/SVG/Color/Github.svg" class="w-8 h-8">
                    </a>
                    <a href="https://www.facebook.com/mdn522">
                        <img src="https://raw.githubusercontent.com/gauravghongde/social-icons/master/SVG/Color/Facebook.svg" class="w-8 h-8">
                    </a>
                    <a href="https://twitter.com/mdn522">
                        <img src="https://raw.githubusercontent.com/gauravghongde/social-icons/master/SVG/Color/Twitter.svg" class="w-8 h-8">
                    </a>
                    <a href="https://www.instagram.com/mdn522">
                        <img src="https://raw.githubusercontent.com/gauravghongde/social-icons/master/SVG/Color/Instagram.svg" class="w-8 h-8">
                    </a>
                    <a href="https://www.reddit.com/u/mdn522">
                        <img src="https://raw.githubusercontent.com/gauravghongde/social-icons/master/SVG/Color/Reddit.svg" class="w-8 h-8">
                    </a>
                </div>
            </div>
        </div>
    </div>
{% endblock content_root %}
