{% extends "basic/base.html" %}
{% load core_tags %}

{% block title %}Exams{% endblock %}

{% block content %}
    <div class="overflow-x-auto w-2/3 mx-auto">
        <h1 class="text-3xl font-bold">Exams ({{ exams | length }})</h1>
        <table class="table table-zebra table-pin-rows">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Name</th>
                    <th>Questions</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for exam in exams %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td><span class="text-lg font-semibold">{{ exam.name }}</span></td>
                        <td>{{ exam.question_count }}</td>
                        <td>
                            <a class="btn btn-neutral btn-sm"
                               href="{% url 'questions:detail' exam.first_question_id %}?question_set=exam&exam_id={{ exam.id }}">View</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
