{% extends "basic/base.html" %}

{% block title %}Import Question Answer and Status - {{ block.super }}{% endblock %}

{% block content %}
    <h1 class="text-2xl">Import Question Answer and Status</h1>

    <form method="POST">
        <textarea name="data" cols="200" rows="15" class="textarea textarea-accent">{
    "username": "mdn522",
    "question_status_set": [
        {
            "question_id": 4,
            "is_marked_for_review": true,
            "marked_for_review_at": null,
            "is_skipped": false,
            "saw_explanation_before": false,
            "saw_explanation_at": null,
            "notes": ""
        },
        {
            "question_id": 10,
            "is_marked_for_review": true,
            "marked_for_review_at": "2024-07-25T03:03:14.676Z",
            "is_skipped": false,
            "saw_explanation_before": false,
            "saw_explanation_at": null,
            "notes": ""
        }
    ],
    "question_answer_set": [
        {
            "question_id": 1,
            "answer": "3/17",
            "answer_choice_id": null,
            "answer_group_id": null,
            "is_correct": true,
            "time_given": "P0DT00H00M06S",
            "started_at": "2024-07-08T05:26:47Z",
            "answered_at": "2024-07-08T05:26:54.397Z",
            "saw_explanation_before": false,
            "saw_explanation_at": null
        },
        {
            "question_id": 2,
            "answer": null,
            "answer_choice_id": 1,
            "answer_group_id": null,
            "is_correct": false,
            "time_given": "P0DT00H00M08S",
            "started_at": "2024-07-08T05:26:58Z",
            "answered_at": "2024-07-08T05:27:06.779Z",
            "saw_explanation_before": false,
            "saw_explanation_at": null
        },
        {
            "question_id": 2,
            "answer": null,
            "answer_choice_id": 1,
            "answer_group_id": null,
            "is_correct": false,
            "time_given": "P0DT00H00M02S",
            "started_at": "2024-07-08T05:28:32Z",
            "answered_at": "2024-07-08T05:28:35.045Z",
            "saw_explanation_before": false,
            "saw_explanation_at": null
        },
        {
            "question_id": 2,
            "answer": null,
            "answer_choice_id": 2,
            "answer_group_id": null,
            "is_correct": false,
            "time_given": "P0DT00H00M06S",
            "started_at": "2024-07-08T05:28:32Z",
            "answered_at": "2024-07-08T05:28:39.723Z",
            "saw_explanation_before": false,
            "saw_explanation_at": null
        },
        {
            "question_id": 2,
            "answer": null,
            "answer_choice_id": 3,
            "answer_group_id": null,
            "is_correct": true,
            "time_given": "P0DT00H00M09S",
            "started_at": "2024-07-08T05:28:32Z",
            "answered_at": "2024-07-08T05:28:42.039Z",
            "saw_explanation_before": false,
            "saw_explanation_at": null
        }
    ],
    "questions": {
        "1": {
            "source": "collegeboard_question_bank",
            "source_id": "013b49a8-e0e3-4cde-8913-5016b184fb62"
        },
        "2": {
            "source": "collegeboard_question_bank",
            "source_id": "016d3534-2566-4551-af72-a61ad0c95b5f"
        },
        "4": {
            "source": "collegeboard_question_bank",
            "source_id": "03422a73-15ea-4c0a-b655-c48c93adbcf6"
        },
        "10": {
            "source": "collegeboard_question_bank",
            "source_id": "086da430-fcc3-492f-bc7a-4b448633701b"
        }
    },
    "answer_choices": {
        "1": {
            "question_id": 2,
            "letter": "A"
        },
        "2": {
            "question_id": 2,
            "letter": "B"
        },
        "3": {
            "question_id": 2,
            "letter": "C"
        }
    }
}</textarea>
        <br>
        <input type="submit" class="btn btn-primary">
    </form>

    <br>
    <div class="text-xl font-bold">Result:</div>
    <pre class="text-lg">{{ logs }}</pre>
{% endblock content %}
