{% extends "basic/base.html" %}
{% load core_tags static %}

{% block title %}
    {{ current_user.username }}'s Charts - {{ block.super }}
{% endblock %}

{% block javascript %}
    <script src="https://code.highcharts.com/highcharts.js"></script>

    {{ block.super }}
{% endblock %}

{% block content %}
    <h1 class="text-3xl text-left font-bold mb-2">
        {{ current_user.name }} - {{ current_user.username }}'s Chart
    </h1>

    <div class="border-2 bg-base-200 rounded p-3 mb-4">
        <h2 class="text-2xl text-center mb-3 font-semibold">
            Attempts & Marks
        </h2>

        <div id="en-answers-chart-container"></div>
        <div id="math-answers-chart-container"></div>
    </div>

    <div id="container"></div>
{% endblock content %}

{% block inline_javascript %}
    {{ block.super }}

    <script>
        function answer_chart(answer_data, mark_data) {
            let titles = {
                'en': 'English',
                'math': 'Math'
            }
            for (let module of ['en', 'math']) {
                let id = module + '-answers-chart-container';
                let chart_data = {
                    title: {
                        text: titles[module],
                        align: 'left'
                    },
                    yAxis: {
                        title: {
                            text: "Count",
                        }
                    },
                    xAxis: {
                        categories: answer_data.x_axis,
                    },
                    tooltip: {
                        shared: true,
                        split: false,
                        enabled: true
                    },
                    plotOptions: {
                        line: {
                            dataLabels: {
                                enabled: true
                            },
                            enableMouseTracking: true
                        }
                    },
                    series: [
                        {
                            name: 'Unmarked for Review',
                            color: '#334155',
                            data: mark_data[module][0],
                        },
                        {
                            name: 'Marked for Review',
                            color: '#facc15',
                            data: mark_data[module][1],
                        },
                        {
                            name: 'Incorrect Attempts',
                            color: '#e74c3c',
                            data: answer_data[module][0],
                        },
                        {
                            name: 'Correct',
                            color: '#27ae60',
                            data: answer_data[module][1],
                        },
                    ],
                }
                console.log(chart_data)
                Highcharts.chart(id, chart_data);
            }
        }

        answer_chart({{ answer_data | jsonify }}, {{ mark_data | jsonify}})
    </script>
{% endblock %}
