{% extends "basic/pages/charts/base.html" %}
{% load core_tags static %}

{% block title %}{{ current_user.username }}'s Charts - {{ block.super }}{% endblock %}

{% block content %}
    <h1 class="text-3xl text-left font-bold mb-2">
        {% if current_user.name %}{{ current_user.name }} - {% endif %}{{ current_user.username }}'s Chart
    </h1>

    <div class="border-2 bg-base-200 rounded p-3 mb-4">
        <h2 class="text-2xl text-center mb-3 font-semibold">
            Attempts & Marks
        </h2>

        <div id="en-answers-chart-container"></div>
        <div id="math-answers-chart-container"></div>
    </div>

    <div class="border-2 bg-base-200 rounded p-3 mb-4">
        <h2 class="text-2xl text-center mb-3 font-semibold">
            Time Spent
        </h2>

        <div id="all-time-spent-chart-container"></div>
        <div id="en-time-spent-chart-container"></div>
        <div id="math-time-spent-chart-container"></div>
    </div>

    <div id="container"></div>
{% endblock content %}

{% block inline_javascript %}
    {{ block.super }}

    <script>
        let base_chart_data = {
            tooltip: {
                shared: true,
                split: false,
                enabled: true
            },
        }

        let module_titles = {
            'all': 'All',
            'en': 'English',
            'math': 'Math'
        }

        function answer_chart(answer_data, mark_data) {
            for (let module of ['en', 'math']) {
                let id = module + '-answers-chart-container';
                let chart_data = {
                    ...base_chart_data,
                    plotOptions: {
                        line: {
                            dataLabels: {
                                enabled: true
                            },
                            enableMouseTracking: true
                        }
                    },
                    title: {
                        text: module_titles[module],
                        align: 'left'
                    },
                    xAxis: {
                        categories: answer_data.x_axis,
                    },
                    yAxis: {
                        title: {
                            text: "Count",
                        }
                    },
                    series: [
                        {
                            name: 'Unmarked for Review',
                            color: '#334155',
                            data: mark_data[module][0],
                        },
                        {
                            name: 'Marked for Review',
                            color: '#facc15',
                            data: mark_data[module][1],
                        },
                        {
                            name: 'Incorrect Attempts',
                            color: '#e74c3c',
                            data: answer_data[module][0],
                            dataLabels: {
                                enabled: true,
                                formatter: function () {
                                    return this.y + ' (' + answer_data_unique[module][0][this.point.index] + ')';
                                }
                            }
                        },
                        {
                            name: 'Correct',
                            color: '#27ae60',
                            data: answer_data[module][1],
                            dataLabels: {
                                enabled: true,
                                formatter: function () {
                                    return this.y + ' (' + answer_data_unique[module][1][this.point.index] + ')';
                                }
                            }
                        },
                    ],
                }

                chart_data.tooltip.formatter = function() {
                    let s = [];

                    this.points.forEach(function (point, i) {
                        let extra = "";

                        if (point.series.name === 'Incorrect Attempts') {
                            extra = ` (${answer_data_unique[module][0][point.point.index]})`;
                        } else if (point.series.name === 'Correct') {
                            extra = ` (${answer_data_unique[module][1][point.point.index]})`;
                        }

                        s.push(`
<span style="color: ${point.series.color};">&#x25A0;</span>
<span style="font-weight:bold;">${point.series.name}: ${point.y}${extra}<span>
`);
                    });

                    return `<b>${this.x}</b> <br/>` + s.join('<br/>');
                }

                {#console.log(chart_data)#}
                Highcharts.chart(id, chart_data);
            }
        }

        function time_spent_chart(time_spent_data) {
            for (let module of ['all', 'en', 'math']) {
                let id = module + '-time-spent-chart-container';
                let chart_data = {
                    ...base_chart_data,
                    title: {
                        text: module_titles[module],
                        align: 'left'
                    },
                    xAxis: {
                        categories: time_spent_data.x_axis,
                    },
                    yAxis: {
                        title: {
                            text: "Time Spent",
                        },
                        labels: {
                            enabled: false,
                        }
                    },
                    legend: {
                        enabled: false
                    },
                    series: [
                        {
                            name: 'Time Spent',
                            color: '#27ae60',
                            data: time_spent_data[module],
                            dataLabels: {
                                enabled: true,
                                formatter: function () {
                                    let s = humanizeDuration(this.y * 1000);
                                    s = s.replace(' days', 'd ').replace(' hours', 'h ').replace(' minutes', 'm ').replace(' seconds', 's ');
                                    s = s.replace(' day', 'd ').replace(' hour', 'h ').replace(' minute', 'm ').replace(' second', 's ');
                                    s = s.replaceAll(', ', '');
                                    return s.trimEnd();
                                }
                            }
                        },
                    ],
                }
                // humanizeDuration
                chart_data.tooltip.formatter = function () {
                    // console.log(this.points);
                    return `
<b>${this.x}</b><br/>Time: ${humanizeDuration(this.y * 1000)}
<br/>Correct: <span style="color: green">${answer_data[module][1][this.point.index]} (${answer_data_unique[module][1][this.point.index]})</span>
<br/>Incorrect Attempts: <span style="color: red;">${answer_data[module][0][this.point.index]} (${answer_data_unique[module][0][this.point.index]})</span>`;
                }
                Highcharts.chart(id, chart_data);
            }
        }

        let answer_data = {{ answer_data | jsonify }};
        let answer_data_unique = {{ answer_data_unique | jsonify }};
        let mark_data = {{ mark_data | jsonify }};
        let time_given_data = {{ time_given_data | jsonify }};
        answer_chart(answer_data, mark_data)
        time_spent_chart(time_given_data)
    </script>
{% endblock %}
