<div class="navbar bg-base-300 z-[100]">
    <div class="navbar-start">
        <div class="dropdown">
            <div tabindex="0" role="button" class="btn btn-ghost lg:hidden">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24"
                     stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h8m-8 6h16"/>
                </svg>
            </div>
            <ul tabindex="0" class="menu menu dropdown-content mt-3 z-[100] p-2 shadow bg-base-200 rounded-box w-64">
                <li><a href="{% url 'home' %}">Home</a></li>
                <li><a href="{% url 'exams:list' %}">Exams</a></li>
                <li>
                    <a>Question Sets</a>
                    <ul class="p-2">
                        <li><a href="{% url 'questions:question-set-cbqb' %}">CollegeBoard Question Bank</a></li>
                    </ul>
                </li>
{#                <li><a href="">Donate</a></li>#}
                <li><a href="{% url 'about' %}">About</a></li>
            </ul>
        </div>
        <a class="btn btn-ghost text-xl">One Prep</a>
    </div>
    <div class="navbar-center hidden lg:flex">
        <ul class="menu menu-horizontal px-1 z-[100]">
            <li><a href="{% url 'home' %}">Home</a></li>
            <li><a href="{% url 'exams:list' %}">Exams</a></li>
            <li>
                <details>
                    <summary>Question Sets</summary>
                    <ul class="p-2">
                        <li><a href="{% url 'questions:question-set-cbqb' %}">CollegeBoard Question Bank</a></li>
                    </ul>
                </details>
            </li>
{#            <li><a href="">Donate</a></li>#}
            <li><a href="{% url 'about' %}">About</a></li>
        </ul>
    </div>
    <div class="navbar-end">
        {% if request.user.is_authenticated %}
        <div class="dropdown dropdown-end">
            <div tabindex="0" role="button" class="btn btn-ghost btn-circle avatar">
                <div class="w-10 rounded-full">
                    <img alt="Tailwind CSS Navbar component"
                         src="https://img.daisyui.com/images/stock/photo-1534528741775-53994a69daeb.jpg"/>
                </div>
            </div>
            <ul tabindex="0" class="menu menu-sm dropdown-content mt-3 z-[1] p-2 shadow bg-base-100 rounded-box w-52">
                <li>
                    <a class="justify-between" href="{% url 'users:detail' request.user.pk %}">
                        Profile
                        <span class="badge">New</span>
                    </a>
                </li>
{#                <li><a>Settings</a></li>#}
                <li>
                    <a href="{% url 'account_logout' %}">Logout</a>
                </li>
            </ul>
        </div>
        {% else %}
{#            {% if ACCOUNT_ALLOW_REGISTRATION %}#}
{#                <a href="{% url 'account_signup' %}" class="btn btn-secondary">Register</a>#}
{#            {% endif %}#}
            <a href="{% url 'account_login' %}" class="btn btn-primary">Login</a>
        {% endif %}
    </div>
</div>
